aiofiles==0.4.0
aioredis==1.2.0
async-timeout==3.0.1
asyncio==3.4.3
Cerberus==1.2
certifi==2018.10.15
hiredis==0.2.0
httptools==0.0.11
multidict==4.4.2
python-dotenv==0.9.1
redis==2.10.6
sanic==0.8.3
sanic-json-logging==0.3.2
sanic-redis==0.1.0
sentry-sdk==0.5.4
ujson==5.4.0
urllib3==1.24.2
uvloop==0.11.3
websockets==5.0.1
